﻿#wrapper {
    margin: auto; /* center all content on webpage */
    width: 900px; /* width of entire game on webpage */
    height: 650px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

body {
    background-color: lightgrey;
}