﻿.theButtons {
    margin-left: 225px;
    margin-top: 0;
}

.buttonOn {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#151617), to(#65a9d7));
    background: -webkit-linear-gradient(top, #151617, #65a9d7);
    background: -moz-linear-gradient(top, #151617, #65a9d7);
    background: -ms-linear-gradient(top, #151617, #65a9d7);
    background: -o-linear-gradient(top, #151617, #65a9d7);
    padding: 5px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 18px;
    font-family: Calibri, serif;
    text-decoration: none;
    vertical-align: middle;
    width: 110px;
}

    .buttonOn:hover {
        border-top-color: #28597a;
        background: #28597a;
        color: #ccc;
        cursor: pointer;
    }

    .buttonOn:active {
        border-top-color: #1b435e;
        background: #1b435e;
    }

    .buttonOff {
    border-top: 1px solid #96d1f8;
    background: grey;
    background: -webkit-gradient(linear, left top, left bottom, from(#151617), to(grey));
    background: -webkit-linear-gradient(top, #151617,grey);
    background: -moz-linear-gradient(top, #151617, grey);
    background: -ms-linear-gradient(top, #151617, grey);
    background: -o-linear-gradient(top, #151617, grey);
    padding: 5px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 18px;
    font-family: Calibri, serif;
    text-decoration: none;
    vertical-align: middle;
    width: 110px;
    cursor: default;
}

    .buttonOff:hover {
        border-top-color: grey;
        color: #ccc;
        background: grey;
        cursor: default;
    }

    .buttonOff:active {
        border-top-color: grey;
        background: grey;
    }